<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webDriver" type="Testing.WebDriver.WebDriverSection" />
  </configSections>

  <webDriver type="WebDriver">
    <desiredCapabilities>
      <add name="" value="" type="" />
    </desiredCapabilities>
  </webDriver>
</configuration>